@import "../variables.scss";
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $secondaryColor;
    nav {
        display: flex;
        justify-content: space-between;
        max-width: 1080px;
        margin: auto;
        width: 100%;
        align-items: center;
        padding: 20px;
    }
    .authButtons {
        display: flex;
        justify-content: space-between;
        button {
            min-width: 100px;
            margin: 5px;
        }
    }
}