@import "./form.scss";
@import "./userProfile.scss";
@import "./meme.scss";
.home {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin-top: 90px;
  .fa-plus-circle {
    position: fixed;
    z-index: 100;
    bottom: 50px;
    right: 50px;
    font-size: 3em;
    box-shadow: 1px 1px 5px black;
    border-radius: 100px;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
  .memeFeed {
    width: 100%;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 100px;
    @include meme;
  }
  .profileAndAddMemeContainer {
    width: 100%;
    padding-top: 30px;
    height: 100vh;
    background-color: rgba($color: black, $alpha: 0.8);
    display: flex;
    justify-content: center;
  }
  .showForm {
    display: block !important;
  }
  .profileAndAddMeme {
    display: none;
    width: 100%;
    height: 100vh;
    @include addForm;
    @include userProfile;
    position: fixed;
  }
}

@media only screen and (min-width: 648px) {
  .home {
    .memeFeed {
      width: 628px;
    }
  }
}

@media only screen and (min-width: 1080px) {
  .home {
    .fa-plus-circle {
      display: none;
    }
    .profileAndAddMeme {
      position: relative !important;
      display: block;
      width: 452px !important;
      @include addForm;
      @include userProfile;
      .profileAndAddMemeContainer {
        width: max-content;
        padding-top: 30px;
        display: block;
        position: relative;
      }
    }
  }
}
