@import "../variables.scss";
@mixin meme {
    .memes {
        width: 100%;
        background-color: $secondaryColor;
        margin-bottom: 20px;
        border-radius: 12px;
        position: relative;
        .meme_header,
        .icons {
            padding: 10px 20px;
        }
        p {
            margin: 10px 20px;
        }
        img.meme_media {
            width: 100%;
        }
        .laugh {
            font-size: 1em;
            height: 50px;
            span {
                font-size: 2em;
                cursor: pointer;
                &:hover {
                    font-size: 2.1em;
                }
            }
        }
        .meme_header {
            display: flex;
            .fa-user {
                font-size: 2rem;
                color: $violet;
            }
            .memeInfo {
                padding: 0 20px;
                p {
                    margin: 0;
                }
            }
        }
        .options {
            position: absolute;
            top: 80px;
            right: 20px;
            z-index: 10;
            background-color: rgba(24, 24, 24, 0.5);
            width: 40%;
            padding: 20px;
            border-radius: 12px;
            display: none;
            .optionBtns {
                display: flex;
                justify-content: space-between;
                button {
                    width: 40%;
                    border: none;
                    box-shadow: none;
                    color: white;
                }
                .edit {
                    background-color: $green;
                    color: black;
                }
                .delete {
                    background-color: $violet;
                }
            }
            .editFields {
                height: 0;
                overflow: hidden;
                textarea {
                    width: 100%;
                    resize: none;
                    outline: none;
                    margin-top: 20px;
                    padding: 5px;
                }
                input {
                    width: 100%;
                    padding: 5px;
                    border-radius: 12px;
                    outline: none;
                    border: none;
                }
            }
            .showEditFields {
                height: max-content;
            }
        }
        .showOptions {
            display: block;
        }
        .fa-ellipsis-v {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 2em;
            cursor: pointer;
            color: $green;
        }
    }
}